:root {
  --black: #282832;
  --white: #ffffff;
  --purple-main: #621f82;
  --purple-sub: #3a0757;
  --blue-main: #0b5578;
  --blue-sub: #042230;
  --glay: #d3d3d3;
}

a {
  text-decoration: none;
  color: inherit;
}

li {
  list-style: none;
}

body {
  font-family: "Roboto", sans-serif;
  background: transparent
    linear-gradient(180deg, #3a0757 0%, #3a0757 28%, #042230 100%) 0% 0%
    no-repeat padding-box;
  color: var(--white);
}

.sr-only {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

.container {
  width: 92%;
  margin: 0 15px;
  max-width: 1214px;
  margin: 0 auto;
}

section {
  margin: 36px 0;
  padding: 31px 10px 43px 10px;
  border-radius: 20px;
  background-color: var(--white);
  color: var(--purple-main);
  @media (min-width: 768px) {
    padding: 59px 50px 70px;
  }
  h2 {
    font-size: 24px;
    font-weight: 900;
    text-align: center;
    margin-bottom: 5px;
    @media (min-width: 768px) {
      text-align: left;
      font-size: 32px;
    }
    + p {
      font-size: 11px;
      font-weight: bold;
      text-align: center;
      @media (min-width: 768px) {
        text-align: left;
      }
    }
  }

  &.showdown {
    margin-top: -90px;
  }
}

// テーブル(順位表)
.table {
  border: solid 1px var(--glay);
  width: 100%;
  table-layout: fixed;
  border-spacing: 0;
  font-size: 14px;
  color: var(--black);
  min-width: 550px;

  th,
  td {
    border-bottom: solid 1px var(--glay);
    padding: 5px;
    text-align: center;
    @media (max-width: 899px) {
      font-size: 13px;
    }
  }

  th:nth-child(1) {
    width: 42px;
    background-color: var(--black);
    color: var(--white);
  }
  th:nth-child(2) {
    width: 150px;
    padding-right: 10px;
    box-sizing: border-box;
    background-color: var(--black);
    color: var(--white);
    box-shadow: 4px 0 4px rgba(0, 0, 0, 0.2);
    @media (max-width: 899px) {
      width: 120px;
    }
  }
  th:last-child {
    width: 150px;
  }

  thead {
    span {
      @media (max-width: 899px) {
        writing-mode: vertical-rl;
        height: 48px;
      }
    }
  }

  tbody {
    th:nth-child(1) {
      font-weight: normal;
    }
    th:nth-child(2) {
      text-align: left;
      @media (min-width: 899px) {
      }

      a {
        display: flex;
        align-items: center;
      }
    }
    tr:nth-child(odd) {
      background-color: var(--glay);
    }
    img {
      width: 24px;
      height: auto;
      margin: 3px 13px 3px 3px;
    }
    td:last-child {
      img {
        width: 16px;
        height: auto;
        margin: 0 2px 0;
      }
    }
  }
}

// レスポンシブテーブル
.table-wrapper {
  overflow: auto;
  margin-top: 28px;
}

.table {
  th:nth-child(1) {
    -webkit-position: sticky;
    position: sticky;
    left: 0;
  }
  th:nth-child(2) {
    -webkit-position: sticky;
    position: sticky;
    left: 42px;
  }
}

// 対戦カード
.teams {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 45px;
  gap: 10px;

  @media (min-width: 768px) {
    margin-top: 23px;
    background-image: url(../img/logo-blue.svg);
    background-size: 38px;
    background-position: left center;
    padding: 0 50px;
  }
}

.team {
  display: flex;
  flex: 1;
  flex-direction: column;
  align-self: flex-start;
  align-items: center;
  color: #0b5578;
  font-size: 16px;
  text-align: center;

  @media (min-width: 768px) {
    font-size: 24px;
    margin: 0;

    br {
      display: none;
    }

    &.home {
      flex-direction: row-reverse;
      text-align: right;

      img {
        margin: 0 9.3% 0 7.3%;
      }
    }
    &.away {
      flex-direction: row;
      text-align: left;
      img {
        margin: 0 7.3% 0 9.3%;
      }
    }
  }
  @media (min-width: 1100px) {
    font-size: 24px;
  }

  img {
    width: 84px;
    height: 84px;
    margin-bottom: 8px;
    padding: 7px;
    box-sizing: border-box;
    border-radius: 50%;
    background-color: var(--blue-main);
    @media (min-width: 1100px) {
      width: 169px;
      height: 169px;
      padding: 13px;
    }
  }
}

.kickoff {
  display: flex;
  flex-direction: column;
  color: var(--black);
  text-align: center;

  .date {
    font-size: 11px;
    font-weight: 900;
    @media (min-width: 1100px) {
      font-size: 15px;
    }
  }
  .time {
    font-size: 20px;
    margin-bottom: 5px;
    font-weight: 900;
    @media (min-width: 1100px) {
      font-size: 32px;
      margin-bottom: 16px;
    }
  }
  .timezone {
    font-size: 10px;
    @media (min-width: 1100px) {
      font-size: 16px;
    }
  }
}

// フッタ－
.footer {
  margin: 80px 14px;

  @media (min-width: 768px) {
    margin: 120px 78px 107px;
  }
}

nav.menus {
  max-width: 1000px;
  display: flex;
  flex-wrap: wrap;

  @media (min-width: 768px) {
    flex-wrap: nowrap;
  }

  h3 {
    font-size: 16px;
    font-weight: 900;
  }

  ul {
    margin-top: 30px;
    margin-right: 10px;
    font-size: 13px;
    opacity: 0.8;

    li:not(:last-child) {
      margin-bottom: 12px;
    }
    @media (min-width: 768px) {
      font-size: 16px;
      li:not(:last-child) {
        margin-bottom: 7px;
      }
    }
  }

  .menu-text,
  .menu-sns {
    width: 50%;
    margin-bottom: 60px;
  }

  .menu-sns ul {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-bottom: -20px;

    li {
      img {
        width: 35px;
        height: auto;
        margin-right: 33px;
        margin-bottom: 20px;
        opacity: 0.8;
      }
    }

    @media (min-width: 768px) {
      li {
        width: 33%;
      }
    }
  }
}

// ヒーロー：イメージ
.hero {
  position: relative;
  height: 882px;
}

.hero-placeholder,
.hero-placeholder::before,
.hero-placeholder::after,
.hero-main,
.hero-main::before,
.hero-main::after {
  position: absolute;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  z-index: -1;
}

.hero-placeholder::before,
.hero-main::before {
  content: "";
  background: transparent
    linear-gradient(58deg, #621f82 0%, #511b82 40%, #0b5578 100%) 0% 0%
    no-repeat padding-box;
  opacity: 0.8;
  mix-blend-mode: hue;
}

.hero-placeholder::after,
.hero-main::after {
  content: "";
  background-color: #000;
  opacity: 0.5;
}

.hero-main {
  animation: hero-main 3s ease-in-out 1s backwards;
}

@keyframes hero-main {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

// コンテンツ
.hero {
  display: flex;
  align-items: center;

  @media (min-width: 768px) {
    .contents {
      display: flex;
      flex-direction: row-reverse;
      align-items: center;
    }
    .contents > * {
      flex: 1;
    }
  }
  @media (max-width: 359px) {
    .contents {
      transform: scale(0.8);
    }
  }

  figure img {
    display: block;
    width: 151px;
    height: auto;
    margin: 0 auto 35px;

    @media (min-width: 768px) {
      width: 330px;
      max-width: 70%;
      margin-bottom: 0;
    }
  }

  h1 {
    white-space: nowrap;
    line-height: 1.3;
  }

  .text {
    width: 313px;
    margin: 0 auto;

    @media (min-width: 768px) {
      width: auto;
      padding-left: 55px;
    }
  }

  .title01 {
    display: block;
    font-size: 38px;
    font-weight: 400;
  }
  .title02 {
    display: block;
    font-size: 48px;
    font-weight: 900;
  }
  .title03 {
    display: block;
    font-size: 98px;
    font-weight: 900;
    margin-bottom: 18px;

    img {
      width: 40px;
      height: auto;
      margin-left: 45px;
    }
  }

  p {
    font-size: 12px;
    line-height: 1.8;
  }
}

// ヒーロー：タイトルのアニメーション
.title01,
.title02,
.title03 {
  overflow: hidden;
  height: 1.3em;
}

.title01 > span,
.title02 > span,
.title03 > span {
  animation: 1s title ease-in-out;
  display: block;
}

@keyframes title {
  0% {
    transform: translate(0, 1.3em);
  }
  100% {
    transform: translate(0, 0);
  }
}

// ヘッダー
.header {
  position: absolute;
  width: 100%;
  border-bottom: solid 1px #ffffff;
  background-color: rgba(255, 255, 255, 0.12);
  z-index: 10;
  .container {
    height: 98px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .site {
      display: flex;
      align-items: center;
      font-size: 21px;
      font-weight: 900;
      opacity: 0.8;

      @media screen and (min-width: 768px) {
        font-size: 28px;
      }

      img {
        width: 24px;
        height: auto;
        margin-right: 12px;
        opacity: 0.8;

        @media screen and (min-width: 768px) {
          width: 32px;
          margin-right: 16px;
        }
      }
    }
  }

  .navbtn {
    width: 32px;
    height: 32px;
    padding: 0;
    outline: none;
    border: none;
    background: transparent;
    cursor: pointer;
    z-index: 200;
  }

  .navbtn-bar {
    position: relative;
    display: block;
    width: 32px;
    height: 3px;
    background-color: currentColor;
    color: var(--white);
    opacity: 0.8;
    transition: background-color 0.5s;

    &::before,
    &::after {
      content: "";
      display: block;
      position: absolute;
      width: 100%;
      height: 100%;
      background-color: currentColor;
      transition: background-color 0.5s;
    }
    &::before {
      transform: translateY(-10px);
    }
    &::after {
      transform: translateY(10px);
    }
  }
}

// ナビゲーションメニュー
.nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(4, 34, 48, 0.9);
  z-index: 100;
  padding-top: 98px;
  text-align: center;
  opacity: 0;
  pointer-events: none;

  .nav-menu {
    a {
      display: block;
      padding: 20px;
      border-top: solid 1px #eeeeee;
      font-size: 16px;
      font-weight: bold;
    }
    li:last-child a {
      border-bottom: solid 1px #eeeeee;
    }
    span {
      display: block;
      margin-top: 5px;
      font-size: 12px;
      font-weight: normal;
    }
  }

  .nav-sns {
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0.8;

    li {
      margin: 30px 10px 0;
    }
  }
}

html.open,
.open body {
  height: 100%;
  overflow: hidden;
}

.open {
  .nav {
    opacity: 1;
    pointer-events: auto;
    transition: opacity 0.5s;
  }

  .navbtn-bar {
    background-color: transparent;

    &::before {
      transform: translateY(0) rotate(225deg);
    }
    &::after {
      transform: translateY(0) rotate(-225deg);
    }
  }
}
